<div class="aside" style="float:left">
				<div id="accordion">
					<h2>2014 Marionette State</h2>

					<ul class="subnav2">
						<li class="doll society">
							<a href="society.html" title="">&bull; NHS Chalmers
							Street</a>
						</li>

						<li class="Marionette">
							<a href="strand.html" title="">&bull; The Strand
							Gallery</a>
						</li>

						<li class="Marionette current">
							<a href="Marionette State.html" title="">&bull; Edinburgh College of
							Art</a>
						</li>

						<li class="Spring '14">
							<a href="spring14.html" title="">&bull; Spring
							'14</a>
						</li>

						<li class="Bust">
							<a href="boris.html" title="">&bull; Boris</a>
						</li>

						<li class="Bust">
							<a href="boris%20and%20wendy.html" title="">&bull;
							Boris and Wendy</a>
						</li>

						<li class="Bust">
							<a href="bust.html" title="">&bull; Stone Bust</a>
						</li>

						<li class="Bust">
							<a href="thedream.html" title="">&bull; The
							Dream</a>
						</li>

						<li class="Bust">
							<a href="familyportrait.html" title="">&bull;
							Family Portrait</a>
						</li>
					</ul><!--end subnav-->

					<h2>2013 Social Realism</h2>

					<ul class="subnav2">
						<li class="Bust">
							<a href="bloody%20good%20shot.html" title="">&bull;
							Bloody Good Shot</a>
						</li>

						<li class="Bust">
							<a href="the%20aboyne%20ball.html" title="">&bull;
							The Aboyne Ball</a>
						</li>
					</ul><!--end subnav-->

					<h2>2012 Physiognomy studies</h2>

					<ul class="subnav2">
						<li class="Bust">
							<a href="marble%20bust.html" title="">&bull; Marble
							Bust</a>
						</li>

						<li class="Bust">
							<a href="clay%20bust.html" title="">&bull; Clay
							Bust</a>
						</li>
					</ul><!--end subnav-->

					<h2>Modern Primitivism</h2>

					<ul class="subnav2">
						<li class="Bust">
							<a href="set%20in%20stone.html" title="">&bull; Set
							In Stone</a>
						</li>

						<li class="Bust">
							<a href=
							"contemporary%20regressionist%20sculpture.html"
							title="">&bull; Contemporary Regressionist
							Sculpture</a>
						</li>

						<li class="Bust">
							<a href=
							"contemporary%20regressionist%20painting.html"
							title="">&bull; Contemporary Regressionist
							Painting</a>
						</li>

						<li class="Bust">
							<a href="child%20drawings.html" title="">&bull;
							Regressive/ Progressive Child Drawings</a>
						</li>

						<li class="Bust">
							<a href="Non-consciousness.html" title="">&bull;
							Non-consciousness</a>
						</li>

						<li class="Bust">
							<a href="weight.html" title="">&bull; Bearing the
							Weight</a>
						</li>

						<li class="Bust">
							<a href="portrait.html" title="">&bull; Family
							Portrait</a>
						</li>

						<li class="Bust">
							<a href="Re-primitivism.html" title="">&bull;
							Re-Primitivism</a>
						</li>

						<li class="Bust">
							<a href="teleological%20regression%201.html" title=
							"">&bull; Teleological Regression</a>
						</li>
					</ul><!--end subnav-->

					<h2>2011 Nature Series</h2>

					<ul class="subnav2">
						<li class="Bust">
							<a href="the%20goldern%20ratio.html" title=
							"">&bull; The Goldern ratio</a>
						</li>

						<li class="Bust">
							<a href="biosphere%20systems.html" title="">&bull;
							Biosphere Systems</a>
						</li>

						<li class="Bust">
							<a href="cytology.html" title="">&bull;
							Cytology</a>
						</li>

						<li class="Bust">
							<a href="the%20butterfly%20effect.html" title=
							"">&bull; The Butterfly Effect</a>
						</li>
					</ul><!--end subnav-->
				</div><!--end of accordion, I think :P-->
			</div>